{% extends "HolloBindBundle::layout.html.twig" %}

{% block body %}

{% include "HolloBindBundle:Domain:top.html.twig" %}

<h2>New record</h2>

{% include "HolloBindBundle:Record:info.html.twig" %}

<form method="post" action="{{ path('hollo_bind_record_new', {'id':domain.id}) }}">
  <fieldset>
    <legend>A Record</legend>
    <p>
      <p>
        {{ form_label(form_a.name) }}<br />
        {{ form_widget(form_a.name, {'attr':{'class':'input-text', 'size':40}}) }}
        {{ form_errors(form_a.name) }}
        <br /><span class="smaller low">Info: Ex. mail or www</span>
      </p>
      <p>
        {{ form_label(form_a.address) }}<br />
        {{ form_widget(form_a.address, {'attr':{'class':'input-text', 'size':40}}) }}
        {{ form_errors(form_a.address) }}
        <br /><span class="smaller low">Info: IP address of destination</span>
      </p>

      {{ form_rest(form_a) }}
    </p>

    <input type="submit" class="input-submit" />
  </fieldset>
</form>

<form method="post" action="{{ path('hollo_bind_record_new', {'id':domain.id}) }}">
  <fieldset>
    <legend>CNAME Record</legend>
    <p>
      <p>
        {{ form_label(form_cname.name) }}<br />
        {{ form_widget(form_cname.name, {'attr':{'class':'input-text', 'size':40}}) }}
        {{ form_errors(form_cname.name) }}
        <br /><span class="smaller low">Info: Ex. mail or www</span>
      </p>
      <p>
        {{ form_label(form_cname.address) }}<br />
        {{ form_widget(form_cname.address, {'attr':{'class':'input-text', 'size':40}}) }}
        {{ form_errors(form_cname.address) }}
        <br /><span class="smaller low">Info: Destination could be www or a fqdn like www.google.com. <b>Beware the rule of dot.</b></span>
      </p>
      {{ form_rest(form_cname) }}
    </p>

    <input type="submit" class="input-submit" />
  </fieldset>
</form>

<form method="post" action="{{ path('hollo_bind_record_new', {'id':domain.id}) }}">
  <fieldset>
    <legend>MX Record</legend>
    <p>
      <p>
        {{ form_label(form_mx.address) }}<br />
        {{ form_widget(form_mx.address, {'attr':{'class':'input-text', 'size':40}}) }}
        {{ form_errors(form_mx.address) }}
        <br /><span class="smaller low">Info: Destination of mailserver.</span>
      </p>
      <p>
        {{ form_label(form_mx.priority) }}<br />
        {{ form_widget(form_mx.priority, {'attr':{'class':'input-text', 'size':40}}) }}
        {{ form_errors(form_mx.priority) }}
        <br /><span class="smaller low">Info: Lowest number is highest priority.</span>
      </p>

    {{ form_rest(form_mx) }}
    </p>

    <input type="submit" class="input-submit" />
  </fieldset>
</form>

{% endblock %}
